body{
  background:linear-gradient(135deg,#eaf4ff 0%,#ffffff 100%);
}
[data-bs-theme="dark"] body{
  background:linear-gradient(135deg,#2b2e36 0%,#202227 100%);
}
.att{ cursor:pointer; }
.att.table-success{ font-weight:bold; }
