{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">

    <h2 class="mb-3 text-center">Вхід до кабінету</h2>

    <form method="post" novalidate>
      {{ form.csrf_token }}

      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", placeholder="teacher@example.com") }}
        {% for err in form.email.errors %}
          <div class="form-text text-danger">{{ err }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="••••••") }}
        {% for err in form.password.errors %}
          <div class="form-text text-danger">{{ err }}</div>
        {% endfor %}
      </div>

      {{ form.submit(class="btn btn-primary w-100") }}

      <p class="mt-3 text-center">
        Не маєте акаунту? <a href="{{ url_for('auth.register') }}">Реєстрація</a>
      </p>
    </form>

  </div>
</div>
{% endblock %}
